<div>
    <div class="headline-sub clearfix custom">
        <h3>Artigo</h3>
        <h4 ng-bind-html=tndmnt_rtg_mdl_ctrl.artigo.titulo></h4>
        <h5>Mover artigo para:</h5>
    </div>

    <div class="modal-body modal-date" id="modal-body"> 
        <form name="tndmnt_ctgrs_lst_cntrllr.form"
            ng-model="form"
            novalidate="novalidate"
            role="form"
            class="form-vertical height-full"
            ng-submit="submit(form)"
            ng-disabled="submitting">

            <div class="row" ng-if="tndmnt_rtg_mdl_ctrl.artigo != null">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="categoria">Categoria:</label>
                        <ui-select  
                            ng-model="tndmnt_rtg_mdl_ctrl.selected"
                            {# on-select="srvcs_tndmntsfls_frm_cntrllr.atribuir($item)" #} 
                            {# ng-disabled="tndmnt_rtg_mdl_ctrl.submitting" #} > 
                            <ui-select-match allow-clear="true"
                                placeholder="Selecione ou busque">
                                {{'{{tndmnt_rtg_mdl_ctrl.selected.titulo}}'}}
                            </ui-select-match>
                            <ui-select-choices {# group-by="tndmnt_rtg_mdl_ctrl.agruparPorTipo" #}
                                repeat="cat in tndmnt_rtg_mdl_ctrl.listaCategorias | filter:$select.search">
                                <div ng-bind-html="cat.titulo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="categoria">Sub categoria:</label>
                        <ui-select  
                            ng-model="tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected"
                            {# on-select="srvcs_tndmntsfls_frm_cntrllr.atribuir($item)" #} 
                            ng-disabled="!tndmnt_rtg_mdl_ctrl.selected">
                            <ui-select-match allow-clear="true"
                                placeholder="Selecione ou busque">
                                {{'{{tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected.titulo}}'}}
                            </ui-select-match>
                            <ui-select-choices {# group-by="tndmnt_rtg_mdl_ctrl.agruparPorTipo" #}
                                repeat="cat in tndmnt_rtg_mdl_ctrl.selected.subcategorias | filter:$select.search">
                                <div ng-bind-html="cat.titulo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="categoria">Seção:</label>
                        <ui-select  
                            ng-model="tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected.secoes.selected"
                            {# on-select="srvcs_tndmntsfls_frm_cntrllr.atribuir($item)" #} 
                            ng-disabled="!tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected">
                            <ui-select-match allow-clear="true"
                                placeholder="Selecione ou busque">
                                    {{'{{tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected.secoes.selected.titulo}}'}}
                            </ui-select-match>
                            <ui-select-choices {# group-by="tndmnt_rtg_mdl_ctrl.agruparPorTipo" #}
                                repeat="cat in tndmnt_rtg_mdl_ctrl.selected.subcategorias.selected.secoes | filter:$select.search">
                                <div ng-bind-html="cat.titulo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="tndmnt_rtg_mdl_ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" ng-click="tndmnt_rtg_mdl_ctrl.salvar()">Salvar</button>
    </div>
</div>