<div class="headline-sub clearfix">
    <h3 class="pull-left">
        Base de Conhecimento
    </h3>
</div>
<div class="row clearfix article">
    <div class="col-md-12 abas">
        <div class="forms col-md-12">
            <div class="row filter clearfix">
                <div class="col-md-8">
                    <form name="dmn_rltrs_cntrllr.form_filtros_relatorios">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat-start="filtro in dmn_rltrs_cntrllr.filtros track by $index">                                    
                                    <td width="25%">
                                        <select id="add-filtro" name="add-filtro" class="form-control" required ng-model="filtro.campo" ng-options="key as op.label disable when op.disabled for (key,op) in dmn_rltrs_cntrllr.opcoesFiltro" ng-change="dmn_rltrs_cntrllr.alterarFiltro(filtro)">
                                            <option value="" disabled="disabled">Selecione</option>
                                        </select>
                                    </td>
                                    <td width="25%">
                                        <select id="add-condicao" name="add-condicao" class="form-control" required ng-model="filtro.operador" ng-options="key as op.label disable when op.disabled for (key,op) in dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options" ng-change="dmn_rltrs_cntrllr.reloadData()">
                                            <option value="" disabled="disabled">Condição</option>
                                        </select>
                                    </td>
                                    <td width="25%" ng-if="!dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == ''">
                                        <select id="add-resultado" name="add-resultado" class="form-control" required ng-model="filtro.valor" ng-options="op.value as op.label disable when op.disabled for (key,op) in dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].options" ng-change="dmn_rltrs_cntrllr.reloadData()" ng-if="dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == 'select'">
                                            <option value="" disabled="disabled">Selecione</option>
                                        </select>
                                        
                                        <input class="form-control" type="text" ng-model="filtro.valor" required ng-if="dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == 'text'" ng-change="dmn_rltrs_cntrllr.reloadData()" />

                                        <div class='input-group date' required ng-if="(dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == 'datepicker') || (dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == 'datepickerDuplo')">
                                            <input type="text" 
                                                class="form-control" 
                                                uib-datepicker-popup="dd/MM/yyyy" 
                                                id="inicial"
                                                ng-model="filtro.dtInicio"
                                                placeholder="Início"
                                                is-open="filtro.dtInicioOpened" 
                                                datepicker-options="dmn_rltrs_cntrllr.dateOptions" 
                                                ng-required="true" 
                                                current-text="Hoje" 
                                                clear-text="Limpar" 
                                                alt-input-formats="altInputFormats" 
                                                ng-change="dmn_rltrs_cntrllr.validaFiltroDate(filtro)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="filtro.dtInicioOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div> 
                                    </td>

                                    <td width="20%" ng-if="(dmn_rltrs_cntrllr.opcoesFiltro[filtro.campo].options[filtro.operador].type == 'datepickerDuplo')">
                                        <div class='input-group date'>
                                            <p class="input-group">
                                                <input type="text"
                                                class="form-control"
                                                uib-datepicker-popup="dd/MM/yyyy"
                                                ng-model="filtro.dtFim"
                                                placeholder="Fim"
                                                is-open="filtro.dtFimOpened"
                                                datepicker-options="dateOptions"
                                                max-date="dmn_rltrs_cntrllr.maxDate"
                                                ng-required="true"
                                                current-text="Hoje"
                                                clear-text="Limpar"
                                                alt-input-formats="altInputFormats"
                                                ng-change="dmn_rltrs_cntrllr.validaFiltroDate(filtro)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="filtro.dtFimOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </td>

                                    <td width="5%" class="text-left">
                                        <a href  ng-click="dmn_rltrs_cntrllr.removeFiltro($index);" class="btn btn-danger btn-md btns-acoes"><i class="el el-remove"></i></a>
                                    </td>
                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="5" class="text-danger">
                                        <ul>
                                            <li ng-repeat="erro in filtro.msgErros track by $index">
                                                {{'{{erro}}'}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4">
                                        <div class="col-sm-3">
                                            <select id="add-filtro" name="add-filtro" class="form-control" ng-model="dmn_rltrs_cntrllr.novoFiltro" ng-options="key as op.label disable when op.disabled for (key,op) in dmn_rltrs_cntrllr.opcoesFiltro" ng-change="dmn_rltrs_cntrllr.addFiltros()">
                                                <option value="" disabled="disabled">Adicionar filtro</option>
                                            </select>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
            
            
            <div class="row total-boxes">
                <div class="col-sm-2 total-tickets">
                    <div class="placard text-center">
                        <div class="placard-value" ng-bind="dmn_rltrs_cntrllr.total.artigos"></div>
                        <div class="placard-description">Artigos</div>
                    </div>
                </div>
                
                <div class="col-sm-2 total-tickets">
                    <div class="placard text-center">
                        <div class="placard-value" ng-bind="dmn_rltrs_cntrllr.total.gostaram"></div>
                        <div class="placard-description">Gostaram</div>
                    </div>
                </div>

                <div class="col-sm-2 total-tickets">
                    <div class="placard text-center">
                        <div class="placard-value" ng-bind="dmn_rltrs_cntrllr.total.naoGostaram"></div>
                        <div class="placard-description">Não gostaram</div>
                    </div>
                </div>
                
                <div class="col-sm-2 total-tickets">
                    <div class="placard text-center">
                        <div class="placard-value" ng-bind="dmn_rltrs_cntrllr.total.respostasChamados"></div>
                        <div class="placard-description">Respostas em chamados</div>
                    </div>
                </div>
                
                <div class="col-sm-2 total-tickets">
                    <div class="placard text-center">
                        <div class="placard-value" ng-bind="dmn_rltrs_cntrllr.total.respostasImediatas"></div>
                        <div class="placard-description">Respostas Imediatas</div>
                    </div>
                </div>
            </div>


            <div class="row clearfix col-md-12">
                <div class="panel-rules">
                    <div class="panel panel-default">
                        <div class="panel-heading">Artigos
                            <div class="btn-group pull-right" uib-dropdown auto-close="outsideClick">
                              <button id="single-button" type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                <i class="fa fa-columns" aria-hidden="true"></i> Colunas <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                  <li class="checkbox padding-content" role="menuitem">
                                      <label for="titulo"><input class="form-check-input" type="checkbox" ng-model="dmn_rltrs_cntrllr.colunas.titulo" id="titulo" checked="true"> Título</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="categoria"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.categoria" id="categoria" checked="true"> Categoria</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="subcategoria"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.subcategoria" id="subcategoria" checked="true"> Sub Categoria</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="secao"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.secao" id="secao" checked="true"> Seção</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                      <label for="criador"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.criador" id="criador" checked="true"> Criador</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                      <label for="dataCriacao"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.dataCriacao" id="dataCriacao" checked="true"> Data Criação</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                      <label for="dataAtualizacao"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.dataAtualizacao" id="dataAtualizacao" checked="true"> Data Atualização</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                      <label for="dataPublicacao"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.dataPublicacao" id="dataPublicacao" checked="true"> Data Publicação</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="gostaram"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.gostaram" id="gostaram" checked="true"> Gostaram</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="naogostaram"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.naoGostaram" id="naogostaram" checked="true"> Não Gostaram</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="respostasChamados"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.respostasChamados" id="respostasChamados" checked="true"> Respostas em Chamados</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="criadoAtravesResposta"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.criadoAtravesResposta" id="criadoAtravesResposta" checked="true"> Criado através de Resposta</label>
                                  </li>
                                  <li class="checkbox padding-content" role="menuitem">
                                    <label for="respostaImediata"><input class="form-check-input" type="checkbox" value="true" ng-model="dmn_rltrs_cntrllr.colunas.respostaImediata" id="respostaImediata" checked="true"> Respostas Imediatas</label>
                                  </li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#" ng-click="dmn_rltrs_cntrllr.mostrarTodasColunas()">Mostrar todos</a></li>
                              </ul>
                            </div>
                        </div>
                        <div class="height-full" ng-class="{'onloading' : dmn_rltrs_cntrllr.busy }">
                            <div  ng-if="!dmn_rltrs_cntrllr.busy" class="tableRelatorioBaseConhecimento">
                                <table class="table table-striped table-bordered" ts-wrapper ts-no-data-text="Nenhum dado encontrado">
                                    <thead>
                                        <tr>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.titulo" ts-criteria="tituloartigo" width="36.5%">Título</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.categoria" ts-criteria="titulocategoria" width="15%">Categoria</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.subcategoria" ts-criteria="titulosubcategoria" width="15%">Sub Categoria</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.secao" ts-criteria="titulosecao" width="15%">Seção</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.criador" ts-criteria="created_by" width="12.5%">Criador</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.dataCriacao" ts-criteria="created_at" width="5%">Data Criação</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.dataAtualizacao" ts-criteria="updated_at" width="5%">Data Atualização</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.dataPublicacao" ts-criteria="published_at" width="5%">Data publicacão</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.gostaram" ts-criteria="gostaram" width="5%">Gostaram</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.naoGostaram" ts-criteria="naogostaram" width="5%">Não Gostaram</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.respostasChamados" ts-criteria="respostaschamados" width="7%">Respostas em Chamados</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.criadoAtravesResposta" ts-criteria="criado_por_resposta" width="7%">Criado através de Resposta</th>
                                            <th ng-show="dmn_rltrs_cntrllr.colunas.respostaImediata" ts-criteria="qtd_evitou_criacao_chamados" width="7%">Respostas Imediatas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in dmn_rltrs_cntrllr.tableData" ts-repeat>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.titulo"><a href ui-sref="atendimento_admin_artigos_show({artigo: data.artigoid})">{{'{{data.tituloartigo}}'}}</a></td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.categoria"><a href ui-sref="atendimento_admin_artigos({categoria: data.categoriaid, status : null })">{{'{{data.titulocategoria}}'}}</a></td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.subcategoria"><a href ui-sref="atendimento_admin_artigos({categoria: data.categoriaid, status : null })">{{'{{data.titulosubcategoria}}'}}</a></td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.secao"><a href ui-sref="atendimento_admin_artigos({categoria: data.categoriaid, status : null })">{{'{{data.titulosecao}}'}}</a></td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.criador">{{'{{data.created_by}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.dataCriacao">{{'{{data.created_at | convertToDate | date: "dd/MM/yyyy"}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.dataAtualizacao">{{'{{data.updated_at | convertToDate | date: "dd/MM/yyyy"}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.dataPublicacao">{{'{{data.published_at == null ? "Artigo não publicado" : (data.published_at | convertToDate | date: "dd/MM/yyyy")}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.gostaram" ng-if="data.gostaram == 0">{{'{{data.gostaram}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.gostaram" ng-if="data.gostaram > 0" ng-click="dmn_rltrs_cntrllr.abrirModalAvaliacoes(data)" style="cursor: pointer">{{'{{data.gostaram}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.naoGostaram" ng-if="data.naogostaram == 0">{{'{{data.naogostaram}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.naoGostaram" ng-if="data.naogostaram > 0" ng-click="dmn_rltrs_cntrllr.abrirModalAvaliacoes(data)" style="cursor: pointer">{{'{{data.naogostaram}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.respostasChamados">{{'{{data.respostaschamados}}'}}</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.criadoAtravesResposta" ng-if="data.criado_por_resposta == null || data.criado_por_resposta == undefined || data.criado_por_resposta == false">Não</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.criadoAtravesResposta" ng-if="data.criado_por_resposta == true">Sim</td>
                                            <td ng-show="dmn_rltrs_cntrllr.colunas.respostaImediata">{{'{{data.qtd_evitou_criacao_chamados}}'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>